---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body  p-8>
		<Header />
		<main pt-8>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li class="card" w-full mt-4 rounded-4 overflow-hidden bg-op-15 bg-slate >
								<a href={`/${post.slug}/`} w-full h-40 flex justify-start >
									{
										post.data.heroImage ? <div overflow-hidden w-40% shrink-0><img  class="scale cimg" src={post.data.heroImage} alt={post.data.title}/></div> : ''
									}
									<div h-full flex flex-col justify-between p-4>
										<div  text-xl>{post.data.title}</div>
										<div op-80 text-sm>{post.data.description}</div>
										<FormattedDate date={post.data.pubDate} />

									</div>
								</a>
							</li>
							
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
<style>
	.card{
		box-shadow: 0 1px 20px -8px rgb(var(--c-bg) / 50%);
	}
	.card:hover .scale{
		transform: scale(1.1);
	}
	.scale{
		transition: all .6s;
	}
	.cimg{
		width: 100%;
  		height: 100%;
		object-fit: cover;
	}
</style>

